.siderbar{
    width: 280px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.1s ease, margin 0.1s ease-out;
    z-index: 999;

    .sidebar-header{
        border-bottom: 1px solid #eceeed;
        background: #fff;
        height: 64px;
        border-bottom: 1px solid #eceeed;
        display: flex;
        align-items: center;
        padding: 0 25px 0 10px;
        z-index: 999;
        width: 100%;
        transition: width 0.1s ease;
    }

    .sidebar-body{
        max-height: calc(100% - 60px);
    position: relative;
    height: 100%;
    box-shadow: 0 8px 6px 0 rgba(183, 192, 206, 0.2);
    background: #fff;

    .nav{
        display: flex;
    flex-direction: column;
    padding: 25px 25px 50px 0px;

    .nav-item{
        position: relative;

        .nav-link{
            display: flex;
    align-items: center;
    padding: 10px 0 10px 25px;
    height: 45px;
    white-space: nowrap;
    color: inherit;

    .link-title{
        margin-left: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    }

        };
    }
    }
    }
}
